header
  padding: 40px 0px 30px 0px

  h1
    font-size: 2.5em
    color: #131313
    text-transform: uppercase

article
  font-size: 1.5em

.index
  ol
    list-style-type: none
    padding: 0px
    margin: 0px

    .title
      font-size: 1.3em

h1.tag
  &:before
    content: "tag: "

.timestamp
  margin: 10px 0px
  font-size: 1.25em
.tldr
  text-transform: none
  text-decoration: italic
  padding: 15px 0px
  font-size: 1.25em

  &:before
    content: "tldr;   " 